# Node
node_modules/
.env
*.log

# Build outputs
dist/
build/

# React (frontend)
*.cache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# OS / Editor
.DS_Store
.vscode
.idea

# ESLint / Prettier
.eslintcache

# Optional
coverage/